body{
  margin: 0px;
  background-color: rgb(82, 54, 119);
}


.main_name{
    font-size: 125px;
    text-align: right;
    margin-right: 340px;
    text-shadow: 10px 10px 20px purple ;
}

.img{
    width: 325px;
    height: 500px;
    margin-left: 120px;
}

.about{
    display: flex;
}



.main_txt{
    display: flex;
}

