body{
    margin: 0px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    box-shadow: 10px 10px 50px rgba(128, 128, 128, 0.726);
    border: solid 1px rgba(26, 25, 25, 0.986);
    border-radius: 2%;
    font-family: 'Solway', serif;
}


.main_name{
    font-size: 125px;
    text-align: right;
    margin-right: 385px;
    text-shadow: 5px 3px 10px rgba(128, 128, 128, 0.548);
}

.about{
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.185);
    border-top: solid 1px;
    border-bottom: solid 1px;
}
.about_conteiner{
    margin-left: 200px;
    max-width: 745px;
    text-align: center;
}

.about_img{
    height: 500px;
}

.img{
    width: 325px;
    height: 495px;
    margin-left: 30px;
    margin-top: 2px;
}

.about{
    display: flex;
}

.about_txt{
    font-size: 18px;
}

.main_txt{
    display: flex;
    height: 300px;


    max-width: 80%;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 14px;
    margin-bottom: 14px;
    text-shadow: 5px 3px 10px rgba(128, 128, 128, 0.548);
}

.content_txt{
    width: 70%;
    margin: auto;

}

.content_txt_1{
    margin-left: -130px;
    background-color: rgba(0, 0, 0, 0.185);
    width: 300px;
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(128, 128, 128, 0.726);
}

.content_txt_2{
    margin-left: 130px;
    background-color: rgba(0, 0, 0, 0.185);
    width: 300px;
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(128, 128, 128, 0.726);
}

.content_txt_3{
    margin-left: 130px;
    background-color: rgba(0, 0, 0, 0.185);
    width: 300px;
    text-align: center;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(128, 128, 128, 0.726);
}

li{
    max-width: 60%;
    text-align: left;
    margin-bottom: 12px;
    font-size: 20px;
    text-shadow: 5px 3px 10px rgba(128, 128, 128, 0.548);
}

a{
    text-decoration: none;
    color: black;
    border-radius: 3px;
    text-align: right;
    vertical-align: bottom;

}

a:hover{
    background-color:rgba(0, 0, 0, 0.849);
    color:rgb(128, 128, 128);
    transition: 0.5s;
    border: solid 1px;
} 

.button_1{
    width: 61.3px;
    margin-left: 230px;
    margin-top: 75px;
}

.button_2{
    width: 61.3px;
    margin-left: 230px;
    margin-top: -15px;
}
.button_3{
    width: 61.3px;
    margin-left: 230px;
    margin-top: 25px;
}
