body{
    margin: 0px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    box-shadow: 10px 10px 50px gray;
    border: solid rgba(26, 25, 25, 0.404);
    border-radius: 2%;
}


.main_name{
    font-size: 125px;
    text-align: right;
    margin-right: 400px;
    text-shadow: 5px 3px 10px rgba(128, 128, 128, 0.788);
}

.about{
    margin-top: 70px;
    background-color: rgba(128, 128, 128, 0.267);
}
.about_conteiner{
    margin-left: 200px;
    max-width: 745px;
    text-align: center;
}

.img{
    width: 325px;
    height: 500px;
    margin-left: 40px;
}

.about{
    display: flex;
}



.main_txt{
    display: flex;
    height: 300px;
    
}

